html {
  background: #287D76;   /* Mytrle Green */
  text-align: left;
  margin: 0 auto;
  width: 850px;
}

body {
  color: lightgray;
  background-color: #0B4B6D;  /* Dark Imperial Blue */
  border: 2px solid black;
  border-radius: 8px;
  margin: 50px;
  padding: 10px;
  width: 700px;
}

.detail {
  position: relative;
  left: 30px;
  color: black;
  background-color: #F2DC5D;  /* STIL DE GRAIN YELLOW */
  border-radius: 5px;
  text-align: left;
  width: 600px;
  padding: 1px;
}

.button {
  color: white;
  background-color: #287D76;   /* Mytrle Green */
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px 2px;
  font-size: 18px;
  display: inline-block;
}

.container {
  text-align: center;
  outline: solid 2px;
  outline-color: #287D76;   /* Mytrle Green */
  margin: 20px;
  padding-bottom: 10px;
}

ul {
  list-style-position: inside;
  word-break: break-word;
  padding-left: 20px;
  margin-left: 20px;
  text-indent: -20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: left;
  margin-left: 10px;
  padding-top: 20px;
}

h3 {
  text-align: left;
  margin-left: -10px;
}
